.nav-links {
    display: flex;
    gap: 2rem;
}

.menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    av-links.active {
        display: flex;
        flex-direction: column;
    }

    .menu-toggle {
        display: block;
    }
}